#submit, #cancel, #reset, #ok, #cancel2{
	background-image: -moz-linear-gradient(top , #f1f1f1, #8F8F8F); 
	background-image: -webkit-linear-gradient(top , #f1f1f1, #8F8F8F);
	background-image: -ms-linear-gradient(top , #f1f1f1, #8F8F8F);
	color:black; border:2px ridge darkblue;
	font-size:15px; cursor:pointer;
	width:70px; border-radius: 4px; 
	padding:5px; }
#submit:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#cancel:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#reset:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#ok:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#cancel:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#cancel2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#title {
	background-color:steelblue; color:white;
	height:80px; width:750px; font-size:60px; }
#leftNav{
	width:150px; height:400px; font-size:20px;
	background-color:#AACCFF; }
#content{
	height:400px; width: 600px; font-size:40px;
	background-color:#EEEEEE; }
#overlay{
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	opacity:.8; background-color:white; 
	margin:0px; display:inline-block;
	float:left; text-align:center;}
#overlay2{
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	opacity:.8; background-color:white; 
	margin:0px; display:inline-block;
	float:left; text-align:center;
	z-index: 2;}		
#dialog {
	border: 3px groove blue; text-align:left;
	padding:10px; 
	position: fixed;
	top:115px; left:200px; 
	background-color:white; 
	margin:0px; display:inline-block;
	float:left; 
	height:auto; width:950px;
	font-size: 15px;}
#dialogTitle, #dialog2Title {
	text-align:center; font:20px bold; padding:5px;
	background-color:#81BEF7; color:black;
	margin: -10px -10px 5px -10px; }
#ClientRevision, #njstartstep {
	border-radius: 3px; width:500px; padding:1px;
	border:2px groove blue; }
#ClientRevisionDescriptionLabel, #datetimepickerDescriptionLabel{
	font-size: 11px;}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
#datetimepicker, #jiraticket, #buildNumber {
	border-radius: 3px; width:180px; padding:1px;
	border:2px groove blue; }
#requestforSHA {
	font-size: 14px;
	color:green;}
#ClientRevisionSection, #prd-env, #njstartstepSection, #datetimepickerDescriptionLabel, #prd-env-cr-job {
	padding-left: 10px; }
.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 300px;
}
input[type=checkbox] {
	height:15px;
	width:15px;
}
input[type=checkbox]:hover {
  background-color: #ccc;
  cursor: pointer;
}
label[for]:hover {
  background-color: #ccc;
  cursor: pointer;
}
input[type=radio]:hover {
  background-color: #ccc;
  cursor: pointer;
}
.hoverable-table-in-dialog tr:hover td {
  background-color: #ccc;
}
#buildNumber, #ClientRevision {
	background-color: #ccc;
}
input[type=radio] {
	height:15px;
	width:15px;
}
#showHideCBS {
	margin-left: 485px;
}
.no-titlebar .ui-dialog-titlebar {
    display: none;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.titlebar .ui-dialog-titlebar {
	text-align:center;
	background-color:#81BEF7;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


